.alt {
  display: none;
}

.back img {
  object-fit: cover;
  border-radius: inherit;
  width: 100%;
  height: 88%;
}

.card {
  box-shadow: 10px 10px 43px -18px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  cursor: pointer;
  transform-style: preserve-3d;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
}

.card:hover .alt {
  display: inline;
}

.card:hover .main {
  display: none;
}

.face {
  border-radius: inherit;
  backface-visibility: hidden;
  grid-row-start: 1;
  grid-column-start: 1;
  position: relative;
  aspect-ratio: 1/0.60;
  overflow: auto;
}

.front {
  transform: rotateY(180deg);
}

.info {
  line-height: 1;
}

.nametag {
  background-color:  #828181;
  font-weight: bold;
  height: 12%;
}

.nametag h6 {
  color: white;
}