<!--
<div class="card border-dark" (click)="flipCard()" [@cardFlip]="person.state">
  <div class="face back" #cardFront>
    <img class="main" src="{{person.main}}" alt="Person Photo">
    <img class="alt" src="{{person.alt}}" alt="Funny Person Photo">
  </div>
  <div class="face front">
    <h5 class="card-header">{{person.name}}</h5>
    <div class="card-body">
      <p>{{person.major}}</p>
      <p>{{person.gen}}</p>
      <p>{{person.favSong}}</p>
      <p>{{person.quote}}</p>
    </div>
  </div>
</div>
-->

<div class="card border-dark" (click)="flipCard()" [@cardFlip]="person.state">
  <div class="face back" #cardFront>
    <img class="main" src="{{person.main}}" alt="Person Photo">
    <img class="alt" src="{{person.alt}}" alt="Funny Person Photo">
  </div>
  <div class="face front">
    <div class="info" [class.isVisible]="isFlipped">
      <h6 class="card-header">{{person.name}}</h6>
      <div class="card-body py-1">
        <p>Generation: {{person.gen}}<br><br>
           Major: {{person.major}} <br><br>
           Favorite Taiko Song: {{person.favSong}} <br><br>
           "{{person.quote}}"
        </p>
      </div>
    </div>
  </div>
</div>
