<section class="footer">
    <div class="footer-container">
        <div class="icons">
            <a href="https://www.facebook.com/AsayakeTaiko" target="_blank">
              <img id="facebook-icon" class="icon-item px-3" src="../../assets/icons/facebook-icon.png">
            </a>
            <a href="https://www.youtube.com/@AsayakeTaiko" target="_blank">
              <img id="youtube-icon" class="icon-item px-3" src="../../assets/icons/youtube-icon.png">
            </a>
            <a href="https://www.instagram.com/asayake_taiko" target="_blank">
              <img id="instagram-icon" class="icon-item px-3" src="../../assets/icons/instagram-icon.png">
            </a>
            <a href="mailto: asayaketaiko@gmail.com" target="_blank">
              <img id="mail-icon" class="icon-item px-3" src="../../assets/icons/mail-icon.png">
            </a>
        </div>
        <p>Email: asayaketaiko@gmail.com</p>
    </div>
  </section>