article{
    margin: 0.5em;
    padding:0.5em;
    background-color:  rgba(0, 0, 0, 0.13);
    border-radius:0.5em;
}

h2{
    font-size:1.5em;
    margin:0.5em auto;
}

h1{
    font-size: 2em;
    text-align:center;
}

#main-image{
    width:50%;
    height:auto;
    margin: 1em auto;
    position: relative;
}

#main-image-cont{
    position:relative;
    display:grid;
}

#main-image-background {
    position:absolute;
    left:0;
    width: 100%;
    height: 100%;
    background-image:url("../../../assets/carousel/carousel_1.jpg");
    background-size:contain;
    filter:grayscale(100%) blur(5px);
}

.img-with-caption {
    width:30vw;
    height:auto;
    float:right;
    margin: 1em;
}