<article>
    <section>
        <h1>Contact Us</h1>
        <p>
            For general contact and performance requests, please email us at: <br>
            <a href="mailto: asayaketaiko@gmail.com">asayaketaiko@gmail.com</a>
        </p>
        <p>
            You can also follow us on facebook, instagram, and youtube. We'd love to connect!
        </p>
        <div class="connect mx-auto row">
            <div class="connect-item col-xl-4 col-sm-12">
                <img src="../../assets/icons/facebook-icon.png" alt="facebook-icon" class="follow-icon">
                <a href="https://www.facebook.com/AsayakeTaiko/"> Facebook</a>
            </div>
            <div class="connect-item col-xl-4 col-sm-12">
                <img src="../../assets/icons/instagram-icon-black.png" alt="instagram-icon" class="follow-icon">
                <a href="https://www.instagram.com/asayake_taiko/"> Instagram</a>
            </div>
            <div class="connect-item col-xl-4 col-sm-12">
                <img src="../../assets/icons/youtube-icon.png" alt="youtube-icon" class="follow-icon">
                <a href="https://www.youtube.com/user/AsayakeTaiko/"> YouTube</a>
            </div>
        </div>
    </section>
    <section>
        <h1>Donate</h1>
        <p>
            Asayake Taiko is run on equipment and resources primarily sourced through fundraising and donations. We greatly appreciate any and all contributions, no matter the amount, that goes to the bettering of our team's musical and cultural development.
        </p>
        <p>
            Venmo: <a href="https://venmo.com/Asayake_Taiko">@Asayake_Taiko</a><br>
        </p>
    </section>
</article>
