<article id="main-article">
    <h1>About Us</h1>
    <div id="main-image-cont">
        <div id="main-image-background"></div>
        <img id="main-image" src="../../assets/images/group-photo.jpg" alt="Group photo">
    </div>
    
    <section id="who-we-are" class="about-section">
        <h2>Who We Are</h2>
        <p>
            Asayake Taiko is a Japanese drumming group founded in the spring of 2002 at the University of California, San Diego campus. 
            Our mission statement is to increase Japanese cultural awareness both within and outside of the UCSD community through taiko.
        </p>
        <div class="img-with-caption">
            <img class="img-fluid" src="../../assets/images/founders.png" alt="Group photo">
            <p class="text-center">Photo of Asayake Taiko in 2003</p>
        </div>
    </section>
    <hr>
    <section id="history" class="about-section">
        <h2>History</h2>
        <p>    
            In spring of 2002, Bobby Koga, Reid Matsuoka and several other students came together to start a taiko group at the University of California, San Diego. With financial support from the university, the fledgling group purchased various equipment in order to construct the Japanese drums in garages of devoted members. 
            In spring of 2004, Asayake Taiko at UCSD debuted with their completed drums at the 3rd Annual Nikkei Student Union Culture Show.
            <br><br>
            Today, Asayake Taiko performs for on-campus cultural events, high school conferences, and various university functions. 
            Likewise, Asayake Taiko aims to promote cultural awareness of Taiko to the greater San Diego area through performances and workshops at K-12 schools and other cultural functions.
            <br><br>
            Each year, Asayake Taiko continues to grow in equipment and members to accomplish its mission statement: to promote cultural awareness not only in the UCSD campus community, but in the greater San Diego community as well.
        </p>
    </section>
    <hr>
    <section id="our-name" class="about-section">
        <h2>Our Name</h2>
        <p>    
            “Asayake” means “morning glow” in Japanese,
                and invokes the image of the early morning light
                playing on the ocean mist in La Jolla. Our
                mission is to promote both cultural awareness
                and inclusivity in the UCSD and San Diego
                communities by sharing our love, passion, and
                respect for the art of taiko through performance. 
        </p>
    </section>
</article>