.about-section > img{
    width:30vw;
    height:auto;
    float:right;
}

article{
    margin: 0.5em;
    padding:0.5em;
    background-color:  rgba(0, 0, 0, 0.13);
    border-radius:0.5em;
}

body{
    background-size: cover;
    background-attachment: fixed;
}

#main-image{
    width:50%;
    height:auto;
    margin: 0em auto;
    position: relative;
}

#main-image-background {
    position:absolute;
    left:0;
    width: 100%;
    height: 100%;
    background-image:url("../../assets/carousel/carousel_2.webp");
    background-size:contain;
    filter:grayscale(100%) blur(5px);
}

#main-image-cont{
    position:relative;
    display:grid;
}

h1{
    font-size: 2em;
    text-align:center;
}

h2{
    font-size:1.5em;
    margin:0.5em auto;
}

hr{
    margin: 1em 0;
}

.img-with-caption {
    width:30vw;
    height:auto;
    float:right;
    margin: 1em;
}

#who-we-are > img{
    float:right;
    margin: 1em;
}

@media screen and (min-width: 950px) {
    article{
        margin: 1em;
        padding:1em;
        background-color: rgba(0, 0, 0, 0.13);
        border-radius:0.5em;
    }
}