<!-- Thanks to Hiroko Kakitani for Navbar design: https://github.com/HirotoKakitani/Asayake-website.git -->
<nav class="navbar navbar-dark navbar-expand-lg custom-navbar" [class.transparent]="isTransparent">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" ariaCurrentWhenActive="page">
      <img class="img-fluid logo" src="../../assets/icons/banner.png" alt="Navbar Logo" id="logo">
    </a>
    <!-- Button that toggles navbar when screen size shrinks-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <img src="../../assets/icons/hamburger_menu.png" id="navbar-toggler-icon" data-bs-toggle="dropdown">
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav ms-auto">
        <a class="nav-link nav-text underline-animation my-2 py-0" href="/" ariaCurrentWhenActive="page">Home</a>
        <a class="nav-link nav-text underline-animation my-2 py-0" routerLink="/about-us" routerLinkActive="active" ariaCurrentWhenActive="page">About Us</a>
        <a class="nav-link nav-text underline-animation my-2 py-0" routerLink="/gallery" routerLinkActive="active" ariaCurrentWhenActive="page">Gallery</a>
        <a class="nav-link nav-text underline-animation my-2 py-0" routerLink="/media" routerLinkActive="active" ariaCurrentWhenActive="page">Media</a>
        <a class="nav-link nav-text underline-animation my-2 py-0" routerLink="/members" routerLinkActive="active" ariaCurrentWhenActive="page">Members</a>
        <a class="nav-link nav-text underline-animation my-2 py-0" routerLink="/contact-us" routerLinkActive="active" ariaCurrentWhenActive="page">Contact Us</a>
      </div>
    </div>
  </div>
</nav>