<section id="concert-container">
    <section class="concert-year">
        <div>
            <img src="../../../assets/concert/poster-2023.png" alt="Hazakura">
        </div>
        <div class="concert-text">
            <h2>2023</h2>
            <p>Hazakura</p>
        </div>
    </section>
    <section class="concert-year">
        <div>
            <img src="../../../assets/concert/poster-2022.png" alt="Taiko Story">
        </div>
        <div class="concert-text">
            <h2>2022</h2>
            <p>Taiko Story</p>
        </div>
    </section>
    <section class="concert-year">
        <div>
            <img src="../../../assets/concert/poster-2021.png" alt="Taikovision">
        </div>
        <div class="concert-text">
            <h2>2021</h2>
            <p>Taikovision</p>
        </div>
    </section>
    <section class="concert-year">
        <div>
            <img src="../../../assets/concert/poster-2020.png" alt="???">
        </div>
        <div class="concert-text">
            <h2>2020</h2>
            <p>Covid Cancelled</p>
        </div>
    </section>
    <section class="concert-year">
        <div>
            <img src="../../../assets/concert/poster-2019.png" alt="Asayake, I Choose You!">
        </div>
        <div class="concert-text">
            <h2>2019</h2>
            <p>Asayake, I Choose You!</p>
        </div>
    </section>
    <section class="concert-year">
        <div>
            <img src="../../../assets/concert/poster-2018.png" alt="The Spirit of Asayake">
        </div>
        <div class="concert-text">
            <h2>2018</h2>
            <p>The Spirit of Asayake</p>
        </div>
    </section>
    <section class="concert-year">
        <div>
            <img src="../../../assets/concert/poster-2017.png" alt="A Tale as Old as Time">
        </div>
        <div class="concert-text">
            <h2>2017</h2>
            <p>A Tale as Old as Time</p>
        </div>
    </section>
    <section class="concert-year">
        <div>
            <img src="../../../assets/concert/poster-2016.png" alt="Horton Hears a Chu!">
        </div>
        <div class="concert-text">
            <h2>2016</h2>
            <p>Horton Hears a Chu!</p>
        </div>
    </section>
    <section class="concert-year">
        <div>
            <img src="../../../assets/concert/poster-2015.png" alt="The Fellowship of the Drum">
        </div>
        <div class="concert-text">
            <h2>2015</h2>
            <p>The Fellowship of the Drum</p>
        </div>
    </section>
    <section class="concert-year">
        <div>
            <img src="../../../assets/concert/poster-2014.png" alt="Asayake and the Chamber of Secrets">
        </div>
        <div class="concert-text">
            <h2>2014</h2>
            <p>Asayake and the Chamber of Secrets</p>
        </div>
    </section>
    <section class="concert-year">
        <div>
            <img src="../../../assets/concert/poster-2013.png" alt="A Taste of Taiko">
        </div>
        <div class="concert-text">
            <h2>2013</h2>
            <p>A Taste of Taiko</p>
        </div>
    </section>
    <section class="concert-year">
        <div>
            <img src="../../../assets/concert/poster-2012.png" alt="Through the Looking Glass">
        </div>
        <div class="concert-text">
            <h2>2012</h2>
            <p>Through the Looking Glass</p>
        </div>
    </section>
    <section class="concert-year">
        <div>
            <img src="../../../assets/concert/poster-2011.png" alt="Rhythm Nation">
        </div>
        <div class="concert-text">
            <h2>2011</h2>
            <p>Rhythm Nation</p>
        </div>
    </section>
    <section class="concert-year">
        <div>
            <img src="../../../assets/concert/poster-2010.png" alt="Daibouken">
        </div>
        <div class="concert-text">
            <h2>2010</h2>
            <p>Daibouken</p>
        </div>
    </section>
    
    <section class="concert-year">
        <div>
            <img src="../../../assets/concert/poster-2009.png" alt="Drumscape">
        </div>
        <div class="concert-text">
            <h2>2009</h2>
            <p>Drumscape</p>
        </div>
    </section>
    
    <section class="concert-year">
        <div>
            <img src="../../../assets/concert/poster-2008.png" alt="Awakening">
        </div>
        <div class="concert-text">
            <h2>2008</h2>
            <p>Awakening</p>
        </div>
    </section>