.active {
    background-color: rgb(112, 3, 3);
}

.alumni-container {
    margin: 5%;
}

#dropdownMenu {
    height: 400px;
    width: 100%;
    overflow: scroll;
}

.left-menu {
    width: 30%;
    position: relative;
    padding: 0px;
}

.menu-btn {
    height: 40px;
}

.right-content {
    width: 70%;

    >img {
        width: 80%;
        height: auto;
    }
}

.year-item {
    list-style-type: none;

    >button {
        height: 40px;
        background-color: #ffffff;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
}

.year-item button:hover {
    color: #ffffff;
    background-color: rgb(112, 3, 3);
    left: .1em;
}

/* For smaller screens, place images under menu */
@media screen and (max-width: 767px) {
    .alumni-content {
        display: flex;
        flex-direction: column;
    }

    .left-menu {
        width: 100%;
    }

    .right-content {
        width: 100%;

        >img {
            width: 100%;
        }
    }
}