#big-logo {
    animation: fade-in 3000ms;
    animation-timing-function: linear;
}

.big-logo-container {
    position: absolute;
    z-index: 1000;
    align-items: center;
}

/* Make it so carousel images are cropped to fit screen */
.carousel {
    height: 100vh !important;
    overflow-x: hidden !important;

    >.carousel-inner {
        display: flex !important;
        align-items: stretch !important;
    }
}

#carouselAutoplaying {
    animation: fade-in 3000ms;
    animation-timing-function: linear;
}

/* Make it so carousel images are cropped to fit screen */
.picsum-img-wrapper {
    height: 100vh !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
    overflow-x:hidden !important;

    >img {
        height: 100% !important;
        width: 100% !important;
        object-fit: cover !important;
    }
}

/* Gradient Overlay over Carousel */
.picsum-img-wrapper::before {
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.2));
}

.description-container {
    position: absolute;
    left: calc(7% + 80px);
    top: 2%;
    z-index: 1001;
    width: 40%;
    height: auto;
    color: white;

    >h1{
        font-family: 'Anton';
    }
}

#homepage {
    background-color: #071d3c;
}

.img-description {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(12, 12, 12, 0.61);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    padding-top: 45%;
    text-decoration: none;
    transition: opacity .2s, visibility .2s;
}

.img-wrapper {
    position: relative;
}

.img-wrapper:hover .img-description {
    visibility: visible;
    opacity: 1;
}

/* Have first items fade in a bit so less awkward looking*/
@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

/* For smaller screens, place description-container under logo-container */
@media screen and (max-width: 767px) {    
    .description-container {
        width: 60%;
        top: calc(4% + 90px);
        left: 2%;
    }
}