<!-- Thanks to Darryl Tayag for the homepage inspiration! https://github.com/djtayag/darryl_is_sexy-->
<!--
<div class="overlay container-fluid">
  <img class="img-fluid" src="../../assets/icons/asa_icon.png" id="big-logo">
  <h1>ASAYAKE TAIKO</h1>
  <p>UC San Diego, Est. 2002</p>
</div>
-->
<div id="homepage">
  <div id="carouselAutoplaying" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-pause="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/carousel/carousel_0.webp" class="d-block w-100" alt="...">
      </div>
      <div *ngFor="let imageUrl of imageUrls" class="carousel-item">
        <img [src]="imageUrl" class="d-block w-100" alt="..."/>
      </div>
      <div [@moveAndShrink]="animationState" class="big-logo-container">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="homeinfo row m-2">
    <div class="asayake-block image-button col-4 px-2">
      <div class="img-wrapper">
        <img class="img-fluid rounded" src="../../assets/images/home-square1.jpg" alt="Home Square 1">
        <a class="img-description text-center" routerLink="/concert" routerLinkActive="active" ariaCurrentWhenActive="page">
          <h3>Concert</h3>
        </a>
      </div>
    </div>
    <div class="asayake-block col-4 px-2">
      <div class="img-wrapper">
        <img class="img-fluid rounded" src="../../assets/images/home-square2.jpg" alt="Home Square 2">
        <a class="img-description text-center" routerLink="/alumni" routerLinkActive="active" ariaCurrentWhenActive="page">
          <h3>Alumni</h3>
        </a>
      </div>
    </div>
    <div class="asayake-block col-4 px-2">
      <div class="img-wrapper">
        <img class="img-fluid rounded" src="../../assets/images/home-square3.jpg" alt="Home Square 3">
        <a class="img-description text-center" routerLink="/taiko-history" routerLinkActive="active" ariaCurrentWhenActive="page">
          <h3>Taiko History</h3>
        </a>
      </div>
  </div>
</div>