<!-- Thanks to Darryl Tayag for the homepage inspiration! https://github.com/djtayag/darryl_is_sexy-->
<div id="homepage">
  <ngb-carousel *ngIf="imageUrls" class="carousel" id="carouselAutoplaying"
    [showNavigationArrows]="false" [interval]="8000" [keyboard]="true" [pauseOnHover]="false" [pauseOnFocus]="false">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img ngSrc="../../assets/carousel/carousel_0.webp" class="d-block w-100" alt="Slide 0"
          width="2500" height="1667" sizes="100vw" priority/>
      </div>
    </ng-template>
    <ng-template ngbSlide *ngFor="let imageUrl of imageUrls; let i = index">
      <div class="picsum-img-wrapper">
        <img [src]="imageUrl" [alt]="'Slide ' + (i + 2)" />
      </div>
    </ng-template>
  </ngb-carousel>
  <div [@moveAndShrink]="logoState" class="big-logo-container">
    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
      <img ngSrc="../../assets/icons/asa_icon.png" id="big-logo" class="img-fluid"
        width="600" height="600" priority/>
    </a>
  </div>
  <div class="description-container">
    <h1 [@leftFlowIn]="textState">ASAYAKE TAIKO</h1>
    <p [@leftFlowIn]="textState">Founded in the spring of 2002 at the University of California,
      San Diego, Our mission statement is to increase Japanese
      cultural awareness both within and outside of the UCSD
      community through the art of taiko.</p>
  </div>
  <div class="homeinfo row">
    <div class="asayake-block image-button col-4 p-2">
      <div class="img-wrapper">
        <img class="img-fluid rounded" src="../../assets/images/home-square1.jpg" alt="Home Square 1">
        <a class="img-description text-center" routerLink="/concert" routerLinkActive="active" ariaCurrentWhenActive="page">
          <h3>Concert</h3>
        </a>
      </div>
    </div>
    <div class="asayake-block col-4 p-2">
      <div class="img-wrapper">
        <img class="img-fluid rounded" src="../../assets/images/home-square2.jpg" alt="Home Square 2">
        <a class="img-description text-center" routerLink="/alumni" routerLinkActive="active" ariaCurrentWhenActive="page">
          <h3>Alumni</h3>
        </a>
      </div>
    </div>
    <div class="asayake-block col-4 p-2">
      <div class="img-wrapper">
        <img class="img-fluid rounded" src="../../assets/images/home-square3.jpg" alt="Home Square 3">
        <a class="img-description text-center" routerLink="/taiko-history" routerLinkActive="active" ariaCurrentWhenActive="page">
          <h3>Taiko History</h3>
        </a>
      </div>
  </div>
</div>