<div class="container-fluid text-center">
    <div class="row">
        <app-member class="col-6 col-sm-4 col-lg-3" [person]="generation22[0]"></app-member>
        <app-member class="col-6 col-sm-4 col-lg-3" [person]="generation22[1]"></app-member>
        <app-member class="col-6 col-sm-4 col-lg-3" [person]="generation22[2]"></app-member>
        <app-member class="col-6 col-sm-4 col-lg-3" [person]="generation22[3]"></app-member>
        <app-member class="col-6 col-sm-4 col-lg-3" [person]="generation22[4]"></app-member>
        <app-member class="col-6 col-sm-4 col-lg-3" [person]="generation22[5]"></app-member>
        <app-member class="col-6 col-sm-4 col-lg-3" [person]="generation22[6]"></app-member>
        <app-member class="col-6 col-sm-4 col-lg-3" [person]="generation22[7]"></app-member>
        <app-member class="col-6 col-sm-4 col-lg-3" [person]="generation22[8]"></app-member>
        <app-member class="col-6 col-sm-4 col-lg-3" [person]="generation22[9]"></app-member>
    </div>
</div>
